<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Event</title>
</head>
<body>
    <form action="#" th:action="@{/events3}" method="post" th:object="${events}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
        <p th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">Incorrect date</p>
        <input type="text" title="name" th:field="*{name}"/>
        <input type="text" title="limit" th:field="*{limit}"/>
        <input type="submit" value="Create"/>
    </form>
</body>
</html>